MYSQL_ROOT_PASSWORD=123456
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=123456
MONGO_DATABASE=rpg_db
MONGO_ADMIN_USERNAME=rpg_admin
MONGO_ADMIN_PASSWORD=rpg_admin_password
MONGO_APP_USERNAME=rpg_app
MONGO_APP_PASSWORD=rpg_app_password
MONGODB_URI=mongodb://rpg_app:rpg_app_password@localhost:27017/rpg_db?authSource=rpg_db

NEO4J_PASSWORD=12345678

jwt.secret=${JWT_SECRET:6ib1om/FI7YEYpSTlNfsgZZuMMxVCDwlTQfWU7bz9Os=}