HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# local environment secrets
.env
.env.example

#obsidian notes
Mandatory-one-database/.obsidian/

# generated database dumps
database_backups/*.sql

# local environment files
.env
**/.env

.env.bak
